<div class='content'>
  <div ng-repeat='block in vm.all()' mt-block="block"></div>
</div>
<div class='action-container'>
  <button ng-click='vm.addBlock()'>Add Block</button>
  <button ng-click='vm.activateAll()'>Activate All</button>
  <button ng-click='vm.deactivateAll()'>Deactivate All</button>
  <button ng-click='vm.clear()'>Clear</button>
</div>
