<div class='block'
  data-block-id='{{vm.block.id}}'
  ng-class='{selected: vm.block.active}'
  ng-click='vm.toggleActive()'
  ng-style='{top: vm.block.top + "px",
             left: vm.block.left + "px",
             width: vm.block.width + "px",
             height: vm.block.height + "px",
             backgroundColor: vm.block.color}'>
  <div class="block-text">{{vm.block.id}}</div>
</div>
