html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  width: 100%;
  height: 500px;
  position: relative;
  margin: 10px;
}

.block {
  position: absolute;
  opacity: .8;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.block .block-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.block:hover {
  opacity: 1;
  border: 5px solid #aaaaff;
  border-radius: 5px;

  -webkit-animation: blockPulse 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  animation: blockPulse 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.block.selected {
  -webkit-animation: blockRotate 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  animation: blockRotate 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes blockPulse {
  0%   {opacity: 1;}
  50%  {opacity: .5;}
  100% {opacity: 1;}
}

@keyframes blockPulse {
  0%   {opacity: 1;}
  50%  {opacity: .5;}
  100% {opacity: 1;}
}

@-webkit-keyframes blockRotate {
  0%   {transform: rotate(0);}
  25%   {transform: rotate(90deg);}
  50%   {transform: rotate(180deg);}
  75%   {transform: rotate(270deg);}
  100%   {transform: rotate(360deg);}
}

@keyframes blockRotate {
  0%   {transform: rotate(0);}
  25%   {transform: rotate(90deg);}
  50%   {transform: rotate(180deg);}
  75%   {transform: rotate(270deg);}
  100%   {transform: rotate(360deg);}
}
